footer {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(5, 15rem);
}

body {

    background-color: white;
}

.colonne1 {
    background-color:aqua;
}

.colonne2 {
    background-color:red ;
}

.colonne3 {
    background-color: green;
}

.colonne4 {
    background-color: brown;
}

.colonne5 {
    background-color: yellow;
}

form{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
form h2{
    font-size: 2.5rem;
}
form p{
    font-size: 1.5rem;
    color: #acb5c2;
}
form img{
    width: 3rem;
    height: 3rem;
}
form input{
    width: 25rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
}
form button{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}